%%-*- mode: erlang -*-

{plugins, [rebar_covertool]}.

{sub_dirs, ["rel"]}.
{erl_opts, [fail_on_warning, debug_info,
	    {parse_transform, lager_transform}]}.
{eunit_opts, [verbose,
	      {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.

{covertool_eunit, ".eunit/eunit.coverage.xml"}.
{covertool_prefix_len, 2}.

{lib_dirs, [".."]}.
{deps_dir, ".."}.
{deps, [{lager, ".*", 
	 {git, "git://github.com/basho/lager.git", "HEAD"}},
	{erlando, ".*",
	 {git, "git://github.com/reifyhealth/erlando.git", "HEAD"}},
	{proper, ".*",
	 {git, "https://github.com/manopapad/proper.git", "HEAD"}},
	{protobuffs, ".*", 
	 {git, "https://github.com/dizzyd/protobuffs.git", "HEAD"}},
	{covertool, ".*", 
	 {git, "https://github.com/idubrov/covertool.git", "HEAD"}}]}.
